<!--Phần chính của trang web nghe nhạc-->

<!--Phân đầu của phần chính của trang web nghe nhạc-->
<header class="header">
    <nav class="header-nav">

        <!--khối chứa các chức năng của phần đầu trang web-->
        <div class="header-nav-list">
            <a href="/web-content/pages/trangchu.html" class="button-icon">
                <img class="button-icon-a" src="/web-decore/image/logo.png" alt="">
            </a>
            <ul class="header-nav_ul">
                <li class="header-nav_ul-li li1"><a href="" title="Khám phá">Khám phá</a> </li>
                <li class="header-nav_ul-li li2">
                    <a href="/web-content/pages/bai-hat.html" title="Bài hát">Bài Hát</a>
                    <!--dropdown-->
                    <!--********************-->
                    <div class="space"></div>
                    <ul class="bai-hat-dropdown">
                        <ul>
                            <li><a href="" class="bold">VIỆT NAM</a> </li>
                            <li><a href="">Nhạc Trẻ</a> </li>
                            <li><a href="">Trữ Tình</a> </li>
                            <li><a href="">Remix Việt</a> </li>
                            <li><a href="">Rap Việt</a> </li>
                            <li><a href="">Tiền Chiến</a> </li>
                            <li><a href="">Nhạc Trịnh</a> </li>
                            <li><a href="">Rock Việt</a> </li>
                            <li><a href="">Cách Mạng</a> </li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">ÂU MỸ</a></li>
                            <li><a href="">Pop</a></li>
                            <li><a href="">Rock</a></li>
                            <li><a href="">Electronica/Dance</a></li>
                            <li><a href="">R&B/Hip Hop/Rap</a></li>
                            <li><a href="">Blues/Jazz</a></li>
                            <li><a href="">Country</a></li>
                            <li><a href="">Latin</a></li>
                            <li><a href="">Indie</a></li>
                            <li><a href="">Âu Mỹ khác</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">CHÂU Á</a></li>
                            <li><a href="">Nhạc Hàn</a></li>
                            <li><a href="">Nhạc Hoa</a></li>
                            <li><a href="">Nhạc Nhật</a></li>
                            <li><a href="">Nhạc Thái</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">KHÁC</a></li>
                            <li><a href="">Thiếu Nhi</a></li>
                            <li><a href="">Không Lời</a></li>
                            <li><a href="">Beat</a></li>
                            <li><a href="">Thể Loại Khác</a></li>
                            <li><a href="">Tui Hát</a></li>
                        </ul>
                    </ul>
                </li>
                <li class="header-nav_ul-li li3"><a href="/web-content/pages/playlist.html"
                        title="Playlist">Playlist</a>
                    <!--dropdown-->
                    <!--********************-->
                    <div class="space-playlist"></div>
                    <ul class="bai-hat-dropdown">
                        <ul>
                            <li><a href="" class="bold">VIỆT NAM</a> </li>
                            <li><a href="">Nhạc Trẻ</a> </li>
                            <li><a href="">Trữ Tình</a> </li>
                            <li><a href="">Remix Việt</a> </li>
                            <li><a href="">Rap Việt</a> </li>
                            <li><a href="">Tiền Chiến</a> </li>
                            <li><a href="">Nhạc Trịnh</a> </li>
                            <li><a href="">Rock Việt</a> </li>
                            <li><a href="">Cách Mạng</a> </li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">ÂU MỸ</a></li>
                            <li><a href="">Pop</a></li>
                            <li><a href="">Rock</a></li>
                            <li><a href="">Electronica/Dance</a></li>
                            <li><a href="">R&B/Hip Hop/Rap</a></li>
                            <li><a href="">Blues/Jazz</a></li>
                            <li><a href="">Country</a></li>
                            <li><a href="">Latin</a></li>
                            <li><a href="">Indie</a></li>
                            <li><a href="">Âu Mỹ khác</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">CHÂU Á</a></li>
                            <li><a href="">Nhạc Hàn</a></li>
                            <li><a href="">Nhạc Hoa</a></li>
                            <li><a href="">Nhạc Nhật</a></li>
                            <li><a href="">Nhạc Thái</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">KHÁC</a></li>
                            <li><a href="">Thiếu Nhi</a></li>
                            <li><a href="">Không Lời</a></li>
                            <li><a href="">Nhạc Phim</a></li>
                            <li><a href="">Thể Loại Khác</a></li>
                        </ul>
                    </ul>
                </li>
                <li class="header-nav_ul-li li4"><a href="/web-content/pages/tuyentap.html" title="Tuyển tập">Tuyển
                        tập</a>
                    <!--dropdown-->
                    <!--********************-->
                    <div class="space-playlist"></div>
                    <ul class="bai-hat-dropdown">
                        <ul>
                            <li><a href="" class="bold">THỂ LOẠI</a> </li>
                            <li><a href="">Nhạc Trẻ</a> </li>
                            <li><a href="">Trữ Tình</a> </li>
                            <li><a href="">Pop</a> </li>
                            <li><a href="">Nhạc Hàn</a> </li>
                            <li><a href="">Nhạc Hoa</a> </li>
                            <li><a href="">Soundtrack</a> </li>
                            <li><a href="">Không Lời</a> </li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">TÂM TRẠNG</a></li>
                            <li><a href="">Buồn</a></li>
                            <li><a href="">Hưng Phấn</a></li>
                            <li><a href="">Nhạy Cảm</a></li>
                            <li><a href="">Nhớ Nhung</a></li>
                            <li><a href="">Thất Tình</a></li>
                            <li><a href="">Thư Giãn</a></li>
                            <li><a href="">Vui Vẻ</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">KHUNG CẢNH</a></li>
                            <li><a href="">Cafe</a></li>
                            <li><a href="">Bar - Club</a></li>
                            <li><a href="">Phòng Trà</a></li>
                            <li><a href="">Tắm - Bơi Lội</a></li>
                            <li><a href="">Tập Gym</a></li>
                            <li><a href="">Lãng Mạng</a></li>
                            <li><a href="">Mưa</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">CHỦ ĐỀ</a></li>
                            <li><a href="">Tình Yêu</a></li>
                            <li><a href="">Top 100</a></li>
                            <li><a href="">Weekend</a></li>
                            <li><a href="">Chill Out</a></li>
                            <li><a href="">Bất Hủ</a></li>
                            <li><a href="">Song Ca</a></li>
                            <li><a href="">Mashup</a></li>
                        </ul>
                    </ul>
                </li>
                <li class="header-nav_ul-li li5"><a href="/web-content/pages/BXH.html" title="Bảng xếp hạng">BXH</a>
                    <div class="space-playlist"></div>
                    <ul class="bai-hat-dropdown">
                        <li><a href="">VIỆT NAM</a></li>
                        <li><a href="">ÂU MỸ</a></li>
                        <li><a href="">HÀN QUỐC</a></li>
                    </ul>
                </li>
                <li class="header-nav_ul-li li6"><a href="/web-content/pages/top100.html" title="Top 100">Top 100</a>
                    <div class="space-playlist"></div>
                    <ul class="bai-hat-dropdown">
                        <li><a href="">VIỆT NAM</a></li>
                        <li><a href="">ÂU MỸ</a></li>
                        <li><a href="">CHÂU Á</a></li>
                        <li><a href="">KHÔNG LỜI</a></li>
                    </ul>
                </li>
                <li class="header-nav_ul-li li7"><a href="/web-content/pages/nghesi.html" title="Nghệ sĩ">Nghệ sĩ</a>
                </li>
                <li class="header-nav_ul-li li8"><a href="/web-content/pages/mv.html" title="MV">MV</a>
                    <!--dropdown-->
                    <!--********************-->
                    <div class="space-playlist"></div>
                    <ul class="bai-hat-dropdown">
                        <ul>
                            <li><a href="" class="bold">VIỆT NAM</a> </li>
                            <li><a href="">Nhạc Trẻ</a> </li>
                            <li><a href="">Trữ Tình</a> </li>
                            <li><a href="">Rap Việt</a> </li>
                            <li><a href="">Rock Việt</a> </li>
                            <li><a href="">Cách Mạng</a> </li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">ÂU MỸ</a></li>
                            <li><a href="">Pop</a></li>
                            <li><a href="">Rock</a></li>
                            <li><a href="">Electronica/Dance</a></li>
                            <li><a href="">R&B/Hip Hop/Rap</a></li>
                            <li><a href="">Blues/Jazz</a></li>
                            <li><a href="">Country</a></li>
                            <li><a href="">Latin</a></li>
                            <li><a href="">Indie</a></li>
                            <li><a href="">Âu Mỹ khác</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">CHÂU Á</a></li>
                            <li><a href="">Nhạc Hàn</a></li>
                            <li><a href="">Nhạc Hoa</a></li>
                            <li><a href="">Nhạc Nhật</a></li>
                            <li><a href="">Nhạc Thái</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">KARAOKE</a></li>
                            <li><a href="">Nhạc Trẻ</a></li>
                            <li><a href="">Trữ Tình</a></li>
                            <li><a href="">Remix Việt</a></li>
                            <li><a href="">Thiếu Nhi</a></li>
                            <li><a href="">Âu Mỹ</a></li>
                            <li><a href="">Thể Loại Khác</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">KHÁC</a></li>
                            <li><a href="">Clip Vui</a></li>
                            <li><a href="">Hài Kịch</a></li>
                            <li><a href="">Thiếu Nhi</a></li>
                            <li><a href="">Thể Loại Khác</a></li>
                            <li><a href="">Giải Trí Khác</a></li>
                            <li><a href="">Phim Việt Nam</a></li>
                        </ul>
                    </ul>
                </li>
            </ul>
        </div>

        <!--reponsive 1100px & 820px-->
        <div class="drop-menu">
            <i class="fa-solid fa-ellipsis"></i>
            <div class="drop-menu-list">
                <li class="drop-menu_ul-li li1"><a href="">Khám phá</a></li>
                <li class="drop-menu_ul-li li2"><a href="">Bài Hát</a></li>
                <li class="drop-menu_ul-li li3"><a href="">Playlist</a></li>
                <li class="drop-menu_ul-li li4"><a href="">Tuyển tập</a></li>
                <li class="drop-menu_ul-li li5"><a href="">BXH</a></li>
                <!--******************************************-->

                <li class="drop-menu_ul-li li6"><a href="#">Top 100</a>
                    <ul class="top-100-dropdown">
                        <li><a href="">VIỆT NAM</a></li>
                        <li><a href="">ÂU MỸ</a></li>
                        <li><a href="">CHÂU Á</a></li>
                        <li><a href="">KHÔNG LỜI</a></li>
                    </ul>
                </li>
                <li class="drop-menu_ul-li li7"><a href="">Nghệ sĩ</a></li>
                <!--******************************************-->
                <li class="drop-menu_ul-li li8"><a href="#">MV</a>
                    <ul class="MV-dropdown">
                        <ul>
                            <li><a href="" class="bold">VIỆT NAM</a> </li>
                            <li><a href="">Nhạc Trẻ</a> </li>
                            <li><a href="">Trữ Tình</a> </li>
                            <li><a href="">Rap Việt</a> </li>
                            <li><a href="">Rock Việt</a> </li>
                            <li><a href="">Cách Mạng</a> </li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">ÂU MỸ</a></li>
                            <li><a href="">Pop</a></li>
                            <li><a href="">Rock</a></li>
                            <li><a href="">Electronica/ Dance</a></li>
                            <li><a href="">R&B/Hip Hop/Rap</a></li>
                            <li><a href="">Blues/ Jazz</a></li>
                            <li><a href="">Country</a></li>
                            <li><a href="">Latin</a></li>
                            <li><a href="">Indie</a></li>
                            <li><a href="">Âu Mỹ khác</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">CHÂU Á</a></li>
                            <li><a href="">Nhạc Hàn</a></li>
                            <li><a href="">Nhạc Hoa</a></li>
                            <li><a href="">Nhạc Nhật</a></li>
                            <li><a href="">Nhạc Thái</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">KARAOKE</a></li>
                            <li><a href="">Nhạc Trẻ</a></li>
                            <li><a href="">Trữ Tình</a></li>
                            <li><a href="">Remix Việt</a></li>
                            <li><a href="">Thiếu Nhi</a></li>
                            <li><a href="">Âu Mỹ</a></li>
                            <li><a href="">Thể Loại Khác</a></li>
                        </ul>
                        <!--********************-->
                        <ul>
                            <li><a href="" class="bold">KHÁC</a></li>
                            <li><a href="">Clip Vui</a></li>
                            <li><a href="">Hài Kịch</a></li>
                            <li><a href="">Thiếu Nhi</a></li>
                            <li><a href="">Thể Loại Khác</a></li>
                            <li><a href="">Giải Trí Khác</a></li>
                            <li><a href="">Phim Việt Nam</a></li>
                        </ul>
                    </ul>
                </li>
            </div>
        </div>

        <!--Khối chứa hộp thoại tìm kiếm của phần đầu của phần chính-->
        <div class="header-nav-search">
            <div class="header-nav-search-input">
                <input class="header-nav-search-input-item" type="text" placeholder="Nhập tên bài hát, ca sĩ, MV,...">
            </div>
            <i class="header-nav-search-glass fa-solid fa-magnifying-glass"></i>
        </div>

        <!--khối line space của phần đầu của trang web-->
        <div class="header-nav_container-line-space">
            <div class="header-nav_line-space"></div>
        </div>

        <!--khối chứa các nút sign của user-->
        <div class="header-nav_container-button-user">
            <a href="" class="header-nav-button-sign">
                <div class="header-nav-button-sign-in"></div>
                Đăng nhập
            </a>
            <a href="#" class="header-nav-button-sign up">
                <div class="header-nav-button-sign-up">
                    Đăng ký
                </div>
            </a>
        </div>
    </nav>
</header>