@media (max-width:820px){
    .header{
        position: relative;
    }
    .header-nav_ul{
        display: none;
    }
    .header-nav_ul-li.li1,.li2,.li3,.li4,.li5,.li6, .li7, .li8{
        display: none;
       
    }
    .drop-menu{
        display: flex;
        align-items: center;
        
    }
    .drop-menu_ul-li{
        display: block;
        width: 100%;
    }
    .drop-menu-list{
        top:47px;
        /*display: block;
        position: absolute;
        width: auto;
        height: auto;
        padding: 0.8rem 0.5rem 0.5rem;
        
        border: 2px solid rgba(140, 138, 138, 0.766);*/
        
    }
    .drop-menu_ul-li.li1, .drop-menu_ul-li.li2, .drop-menu_ul-li.li3, .drop-menu_ul-li.li4, .drop-menu_ul-li.li5{
        display: block;
    }
    .header-nav-search{
        width: 40%;
    }
    .header-nav_container-button-user{
        width: 25%;
    }
    #footer-a-section-one-slide-bar{
        max-width: 400px;
    }
    
    .footer-a-section-four ul{
        display: none;
    }
}